.page {
  display:flex;
  flex-direction: row;

}

.sidebar {
  background-color: #272727;
  display: flex;
  flex-direction: column;
  height:100vh;
  justify-content: space-between;
}

.sidebar.expand{
  width: 18vw;
}

.sidebar.collapse {
  
}

.sidebar-header {
  color: white;
  padding: 0 15px;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.sidebar-logo {
  display:flex;
  flex-direction: row;
  align-items: center;
}

.search-box {
  padding: 0 15px;
  margin: 10px;
  align-items: center;
  display: flex;
  border-radius: 6px;
  background-color: #A4E5D0;
}

.sidebar-item {
  color: white;
  padding: 0 15px;
  align-items: center;
  display: flex;
}

.sidebar-user {
  background-color: #A4E5D0;
  color: black;
  padding: 0 15px;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.content {
  background-color: #F0FDFA;
  height: 100vh;
  width: 82vw;
}


